<div class="container">
  <div class="row align-items-center">      
    <div class="col-md-12 order-md-1 text-center text-md-left pr-md-5">
      <h1 class="mb-3">GridBot Manager</h1>

      <p class="lead">Alpha version.</p>
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non elementum arcu. Sed euismod accumsan rhoncus. Nunc in metus accumsan augue rhoncus lobortis. Donec ligula massa, imperdiet sit amet dignissim ultrices, aliquam nec arcu. Donec eros libero, euismod ac venenatis at, feugiat consequat sapien. Donec efficitur scelerisque ante id ullamcorper. Maecenas porta vestibulum laoreet. Vestibulum semper eros sit amet hendrerit convallis. Morbi faucibus magna nec ante iaculis pretium. Suspendisse dapibus nibh velit, id porta mi rutrum a. Phasellus massa sem, ullamcorper sed consectetur a, convallis non nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras quis urna dolor. Morbi auctor aliquet felis, vel hendrerit enim posuere dignissim. In iaculis tincidunt lorem sed lobortis. Cras rhoncus bibendum nibh, nec pellentesque tortor vehicula ut.
      </p>
      <p class="lead mb-4">
        Maecenas sit amet ultricies massa. Praesent mollis tellus imperdiet, faucibus elit nec, viverra urna. Cras id odio elit. Nam sed turpis elit. Mauris nec ante ante. Phasellus sodales augue ac ex efficitur, et dignissim turpis aliquet. Nunc et sem venenatis, feugiat ante vel, finibus tellus. Nunc sit amet justo eu purus ultricies auctor porttitor sed libero. Aliquam erat volutpat.
      </p>
      <p class="lead mb-4">
        Phasellus cursus malesuada tortor sit amet mattis. Nulla ut rhoncus massa. Pellentesque suscipit sollicitudin est sed egestas. Aliquam fermentum interdum posuere. Fusce accumsan dignissim odio, ac rhoncus nibh tempus at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vel augue magna. Praesent id efficitur odio. Vestibulum gravida justo blandit massa semper aliquet. Pellentesque et interdum nisi. Phasellus dictum egestas arcu, sed ornare augue gravida in. Proin vestibulum eleifend urna, sed sollicitudin risus euismod eget.
      </p>
      <p class="lead mb-4">
        In hac habitasse platea dictumst. Nullam luctus eu leo a venenatis. Curabitur commodo, justo laoreet auctor volutpat, ligula tellus ullamcorper nisl, nec elementum risus justo eu lorem. Sed nec nulla non dolor semper pretium. Integer quis mi eu felis laoreet mollis at sit amet nibh. Maecenas sit amet libero sit amet lacus varius cursus. Integer bibendum pretium malesuada. Vestibulum sed erat sollicitudin, fermentum turpis vitae, eleifend nunc. Ut in condimentum diam. Morbi ullamcorper porta felis, nec elementum nisl suscipit ac. Duis maximus dolor in nisi suscipit, ut rutrum mi elementum. Nam ex metus, lacinia aliquam ultrices et, finibus vel ipsum. Praesent pretium et sem condimentum gravida.
      </p>
      <p class="lead mb-4">
        Cras magna diam, fringilla sed purus in, dignissim varius augue. Curabitur finibus, mauris eu laoreet vehicula, nulla orci placerat elit, ac porta mauris justo sed tortor. Etiam scelerisque, sapien a efficitur aliquet, augue nunc tempus leo, eu facilisis nunc justo non purus. Integer aliquam neque velit, ut finibus diam efficitur eu. Nulla tempus lorem nec tellus viverra convallis. Nunc id mattis nunc. Donec velit tellus, faucibus ac lectus rhoncus, bibendum semper leo. Proin diam orci, commodo blandit suscipit et, imperdiet id velit. Nullam interdum augue sed nunc pellentesque, eget posuere augue tempus. Nulla enim nisi, ornare eget augue eu, vulputate sollicitudin dui. Proin at vulputate ligula. Fusce mollis ante ac augue interdum, volutpat tempus metus dignissim. Curabitur ante nisi, placerat non quam nec, fringilla pretium risus.
      </p>
    </div>
  </div>
</div>
