
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body.grid-body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.grid-body div.container-fluid > div.row > div.col-md-12 {
  padding-left: 0;
  padding-right: 0;
  /* height:30vh; */
  overflow: auto;
}

body.grid-body > div.container-fluid > div.row > div.col-md-12:first-child {
  /* max-height: 50vh; */
  min-height: 200px;
}

body.grid-body > div.container-fluid > div.row > div.col-md-12 {
  /* max-height: 40vh; */
  min-height: 200px;
}

body.grid-body div.container-fluid > div.row > div.col-md-12 {
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
}

body.grid-body div.container-fluid > div.row > div {
  padding-left: 0;
  padding-right: 0;
  overflow-x: auto;
}

.grid-price-col {min-width: 20px;}
.grid-idbuy-col, .grid-idsell-col {min-width: 10px;}
.grid-qty-col {min-width: 30px;}
.grid-position-col {min-width: 30px;}
.grid-side-col {min-width: 30px;}
.grid-active-col {min-width: 30px;}
.grid-exchorder-col {min-width: 30px;}
.grid-date-col {min-width: 30px;}
.grid-status-col {min-width: 30px;}
.grid-event-col {min-width: 40px;}
.grid-desc-col {min-width: 100px;}

ebody.grid-body tbody {
  display:block;
/*  max-height:100px;*/
  overflow-y:auto;
  overflow-x:auto;
}

ebody.grid-body thead, 
ebody.grid-body tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

ebody.grid-body thead {
  width: calc( 100% - 1em )
} 

body.grid-body .navbar-expand .navbar-nav .nav-link {
  /* padding-right: 0.5rem; */
  /* padding-right: 0.5rem; */
  padding-left: 0rem;
  padding-left: 0rem;
}

body.grid-body .navbar {
  /* padding: 0.5rem 1rem; */
  padding: 0rem 1rem;
}

body.grid-body .navbar-brand {
  /* padding-top: 0.3125rem; */
  /* padding-bottom: 0.3125rem;*/
  padding-top: 0rem;
  padding-bottom: 0;
}
